<div class="like-body">

<div class="single-form-login">
    <div class="brand-image">
      <img src="https://dolano.id/assets/img/dolano.png" class="center" alt="PT Dolano NET Indonesia" width="220">
    </div>
    <div class="spacer-h"></div>
    <div class="spacer-h"></div>
    <div class="spacer-h"></div>
    <h2 class="login"><span class="mid-line"><span class="biru-tosca">LOGIN</span> To Your Account</span></h2>
    <div class="spacer-h"></div>
    <form [formGroup]="logPartner" (ngSubmit)="onSubmit()"  class="pad-prefix">
        <mat-form-field class="full-width">
            <input matInput placeholder="Email*" formControlName="email">
            <mat-icon matPrefix>email</mat-icon>
            <mat-error *ngIf="logPartner.get('email').hasError('required')">
                This field required
            </mat-error>
            <mat-error *ngIf="logPartner.get('email').hasError('email')">
                Please enter valid format email address
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Password*" formControlName="password" [type]="hide_password ? 'password' : 'text'">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-icon matSuffix (click)="hide_password = !hide_password">{{hide_password ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="logPartner.get('password').hasError('required')">
                This field required
            </mat-error>
        </mat-form-field>
        <p><a (click)="forget_password()" style="cursor: pointer;"><b>Lupa Kata Sandi?</b></a></p>
      <button type="submit" [disabled]="!logPartner.valid" mat-flat-button color="primary" style="width: 100%;">LOGIN</button>
  </form>
  <div class="spacer-h"></div>
  <p><b>Don't have any account?</b><br/>
  <a href=""><b>Register here</b></a></p>
</div>

</div>