<app-status-head></app-status-head>

  <div class="container center-box center-text">
    <h2>
      <span class="biru-tosca">SELAMAT</span> PT. Sinar Jaya Medika!
    </h2>
    <h3>Registrasi anda berhasil</h3>
    <p>
      Silahkan masuk ke email anda untuk memverifikasi email.
    </p>
  </div>

<app-status-foot></app-status-foot>