<div class="single-form">
    <div class="brand-image">
      <img src="https://dolano.id/assets/img/dolano.png" class="center" alt="PT Dolano NET Indonesia" width="220">
    </div>
    <h2>CHANGE PASSWORD</h2>
    <form [formGroup]="changePassword" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
            <input matInput placeholder="Password*" formControlName="password" [type]="hide_password ? 'password' : 'text'" (keyup)="passKeyUp($event)">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-icon matSuffix (click)="hide_password = !hide_password">{{hide_password ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="changePassword.get('password').hasError('required')">
                This field required
            </mat-error>
            <mat-error *ngIf="changePassword.get('password').hasError('minlength')">
                Password at least 6 characters
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-icon matPrefix>lock</mat-icon>
            <input matInput placeholder="Konfirmasi Password*" formControlName="konfirmasi" [type]="hide_password ? 'password' : 'text'" >
            <mat-icon matSuffix (click)="hide_password = !hide_password">{{hide_password ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="changePassword.get('konfirmasi').hasError('required')">
                This field required
            </mat-error>
            <mat-error *ngIf="changePassword.get('konfirmasi').hasError('missMatch') && !changePassword.get('password').hasError('required')">
                Passwords don't match
            </mat-error>
        </mat-form-field>
      <button type="submit" [disabled]="!changePassword.valid" mat-flat-button color="primary" style="float:right; width: 150px;">Daftar</button>
  </form>
</div>