<div class="container-dialog">
    <mat-toolbar class="dialog-head">
      <span>Syarat dan Ketentuan Pendaftaran Awal Partner Perusahaan</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">verified_user</mat-icon>
    </mat-toolbar>
    <div class="dialog-body">
  <table>
    <tr>
      <td>1.</td>
      <td>Perusahaan wajib memiliki badan hukum yang jelas</td>
    </tr>
    <tr>
      <td>2.</td>
      <td>Wajib memiliki NPWP atas nama Perusahaan</td>
    </tr>
    <tr>
      <td>3.</td>
      <td>Akun Partner hanya dapat digunakan dengan 1 (email) untuk 1 (satu) nama serta 1 (satu) jenis partner dan sub partner</td>
    </tr>
    <tr>
      <td>4.</td>
      <td>Memiliki kemampuan managerial dan komunikasi yang baik</td>
    </tr>
    <tr>
      <td>5.</td>
      <td>Mampu memberikan pelayanan yang baik sesuai dengan standard yang diberikan oleh dolano.id</td>
    </tr>
    <tr>
      <td>6.</td>
      <td>Bersedia bertanggung jawab dan sanggup memberikan pelayanan sesuai dengan standard yang telah ditentukan oleh pihak dolano.id</td>
    </tr>
    <tr>
      <td>7.</td>
      <td>Local Partner bersedia mematuhi dan menyetujui syarat dan ketentuan yang telah diatur oleh pihak dolano.id</td>
    </tr>
    <tr>
      <td>8.</td>
      <td>Memberikan perlindungan asuransi pada usaha pariwisata dengan kegiatan yang berisiko tinggi</td>
    </tr>
    <tr>
      <td>9.</td>
      <td>Memberikan informasi yang akurat dan bertanggung jawab</td>
    </tr>
    <tr>
      <td>10.</td>
      <td>Memberikan kenyamanan, keramahan, perlindungan keamanan, dan keselamatan wisatawan</td>
    </tr>
    <tr>
      <td>11.</td>
      <td>Dapat memastikan bahwa rekomendasi Person in Charge yang ditugaskan sesuai dengan standard yang di inginkan oleh dolano.id</td>
    </tr>
  </table>
  <div class="spacer-h"></div>
  </div>
  </div>