<app-status-head></app-status-head>

  <div class="container center-box center-text">
    <h2>
      <span class="biru-tosca">SORRY</span>
    </h2>
    <h3>Your registration failed</h3>
    <p>
      Please try again later.
    </p>
  </div>

<app-status-foot></app-status-foot>