<app-status-head></app-status-head>

  <div class="container center-box center-text">
    <div class="round-box red"><mat-icon style="font-size: 56px;height:56px;width:56px;color:#f44336">close</mat-icon></div>
    <h2>
      <span class="biru-tosca">MAAF {{ nama }}</span> akun anda sudah TERAKTIVASI sebelumnya.
    </h2>
    <p>Congratulation, your account has been actived!</p>
    <p>
      Silahkan masuk ke dashboard partner dan login dengan email dan password anda. Apabila anda masih tidak bisa login silahkan menghubungi call center kami.
    </p>
    <br/>
  </div>

<app-status-foot></app-status-foot>