.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }  
  .sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }  
  .example-is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  .mat-drawer{
    background-color: #2d323e;
    width: 250px;
    color: #fff;
  }
  .sidenav-content-box{
    padding: 10px 20px;
  }
  .mat-list-item{
      font-family: 'Raleway';
  }
  .mat-list .mat-list-item, .mat-list .mat-list-option, .mat-nav-list .mat-list-item, .mat-nav-list .mat-list-option, .mat-selection-list .mat-list-item, .mat-selection-list .mat-list-option{
      height: 40px;
  }
  .mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item{
      font-size: 14px;
      color: #fff;
  }
  .mat-list-text{
      padding-left: 6px !important;
  }
  div.sidenav-ava{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  .sidenav-ava img{
      border-radius: 50%;
  }
  .sidenav-user{
    text-align: center;
    padding: 10px;
  }


  .mat-divider.dark{
    border-top-color: rgba(254, 254, 254, 0.5)
  }
  .mat-drawer .mat-divider{
      margin: 10px 15px;;
  }