<div class="example-container" >
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name"><b>PARTNER</b> Dashboard</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #snav [mode]="mode.value" [(opened)]="opened">
        <mat-nav-list>
          <div class="sidenav-ava">
            <img src="https://forums.opera.com/assets/uploads/profile/192601-profileavatar.png" width="100" alt="">
          </div>
          <div class="sidenav-user">
            <b style="font-size: 18px">John DOE</b><br/>
            john.doe31@mail.en
          </div>
          <mat-divider class="dark"></mat-divider>
          <mat-list-item >
            <mat-icon matListIcon style="font-size: 22px;">face</mat-icon>
            <span matLine>Akun Saya</span>
          </mat-list-item>
          <mat-divider class="dark"></mat-divider>
          <mat-list-item disabled>
            <mat-icon matListIcon style="font-size: 22px;">phone_iphone</mat-icon>
            <span matLine>Alokasi Produk</span>
          </mat-list-item>
          <mat-list-item >
            <mat-icon matListIcon style="font-size: 22px;">history</mat-icon>
            <span matLine>Riwayat Pemesanan</span>
          </mat-list-item>
          <mat-list-item >
            <mat-icon matListIcon style="font-size: 22px;">help_outline</mat-icon>
            <span matLine>Bantuan</span>
          </mat-list-item>
          <mat-list-item >
            <mat-icon matListIcon style="font-size: 22px;">supervisor_account</mat-icon>
            <span matLine>Perjanjian</span>
          </mat-list-item>
          <mat-list-item >
            <mat-icon matListIcon style="font-size: 22px;">attach_money</mat-icon>
            <span matLine>Insentive</span>
          </mat-list-item>
          <mat-list-item >
            <mat-icon matListIcon style="font-size: 22px;">timeline</mat-icon>
            <span matLine>Analisa</span>
          </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <div class="sidenav-content-box">
          
            <h2 class="example-h2">Akun Saya</h2>
            <mat-tab-group class="twentyfive-tab" >
              <mat-tab label="Tab 1">
                <ng-template mat-tab-label>
                  <mat-icon>person</mat-icon>&nbsp;&nbsp;Informasi Pribadi&nbsp;&nbsp;<mat-icon style="color: #5fba7d">done</mat-icon>
                </ng-template>
                <div style="padding: 15px;">
                  <table class="full-width">
                    <tr>
                      <td>Foto Profil</td>
                      <td></td>
                      <td rowspan="7" valign="top">
                        <button mat-flat-button color="primary" (click)="edit_dataDiri()"><mat-icon>edit</mat-icon>&nbsp;&nbsp;Edit</button>
                      </td>
                    </tr>
                    <tr>
                      <td>Nama</td>
                      <td>: Johny Deep Purple</td>
                    </tr>
                    <tr>
                      <td>Jenis Layanan</td>
                      <td>: Activity</td>
                    </tr>
                    <tr>
                      <td>Tempat Lahir</td>
                      <td>: RS. Dr. Oen</td>
                    </tr>
                    <tr>
                      <td>Tanggal Lahir</td>
                      <td>: 29 Februari 1993</td>
                    </tr>
                    <tr>
                      <td>Jenis Kelamin</td>
                      <td>: Laki-Laki</td>
                    </tr>
                    <tr>
                      <td>Alamat Domisili</td>
                      <td>: Tegal Sawah, Banjarsari, Cengkareng, Surakarta</td>
                    </tr>
                  </table>
                </div>
              </mat-tab>
              <mat-tab label="Tab 2">
                <ng-template mat-tab-label>
                  <mat-icon>attach_file</mat-icon>&nbsp;&nbsp;Unggah Dokumen
                </ng-template>
                <div style="padding: 15px;">
                    <table class="full-width">
                      <tr>
                        <td>KTP</td>
                        <td>: -</td>
                      </tr>
                      <tr>
                        <td>NPWP</td>
                        <td>: -</td>
                      </tr>
                      <tr>
                        <td>SKCK</td>
                        <td>: -</td>
                      </tr>
                      <tr>
                        <td>Lisensi Pemandu Wisata</td>
                        <td>: -</td>
                      </tr>
                    </table>
                  </div>    
              </mat-tab>
              <mat-tab label="Tab 3">
                <ng-template mat-tab-label>
                  <mat-icon>security</mat-icon>&nbsp;&nbsp;Informasi Rekening&nbsp;&nbsp;<mat-icon style="color: #5fba7d">done</mat-icon>
                </ng-template>
                <div style="padding: 15px;">
                    <table class="full-width">
                      <tr>
                        <td>Nama Bank</td>
                        <td>: BCA</td>
                      </tr>
                      <tr>
                        <td>Nomor Rekening</td>
                        <td>: 86750463340</td>
                      </tr>
                      <tr>
                        <td>Nama Pemilik Rekening</td>
                        <td>: Johny Deep Purple</td>
                      </tr>
                      <tr>
                        <td>Photo Rekening</td>
                        <td>tersimpan</td>
                      </tr>
                    </table>
                  </div>  
              </mat-tab>
              <mat-tab label="Tab 4">
                <ng-template mat-tab-label>
                  <mat-icon>store_mall_directory</mat-icon>&nbsp;&nbsp;Informasi Usaha
                </ng-template>
                <div style="padding: 15px;">
                    <table class="full-width">
                      <tr>
                        <td>Nama Zona Aktivitas</td>
                        <td>: RS. Dr. Oen Kandang Menjangan</td>
                      </tr>
                      <tr>
                        <td>Provinsi</td>
                        <td>: Jawa Tengah</td>
                      </tr>
                      <tr>
                        <td>Kota/Kabupaten</td>
                        <td>: Surakarta</td>
                      </tr>
                      <tr>
                        <td>Kecamatan</td>
                        <td>: Jebres</td>
                      </tr>
                      <tr>
                        <td>Kelurahan</td>
                        <td>: Naglik</td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          *Anda diwajibkan menandai peta dibawah untuk menunjukkan secara akurat lokasi/denah wisata anda (set location)
                        </td>
                      </tr>
                      <tr>
                        <td>Alamat</td>
                        <td>: JL. Lenggak-Lenggok 12A, 144445</td>
                      </tr>
                    </table>
                  </div>    
              </mat-tab>
            </mat-tab-group>

        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>