<div class="container-dialog">
  <mat-toolbar class="dialog-head">
    <span>UBAH Data Diri</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">edit</mat-icon>
  </mat-toolbar>
  <div class="dialog-body">
      
      
  <div class="pad-prefix">
    <mat-form-field class="full-width">
        <input matInput placeholder="Nama Lengakap" >
        <mat-icon matPrefix>person</mat-icon>
        <mat-hint align="end">* sesuai dengan identitas diri</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select placeholder="Jenis Layanan" >
        <mat-option [value]="">
          Pemandu Situs
        </mat-option>
        <mat-option [value]="">
          Pemandu Kota
        </mat-option>
      </mat-select>
      <mat-icon matPrefix>local_library</mat-icon>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select placeholder="Pilian Kendaraan" >
        <mat-option [value]="">
          Personal
        </mat-option>
        <mat-option [value]="">
          Mobil
        </mat-option>
        <mat-option [value]="">
          Becak
        </mat-option>
        <mat-option [value]="">
          Andong
        </mat-option>
      </mat-select>
      <mat-icon matPrefix>local_library</mat-icon>
    </mat-form-field>
    <table class="full-width" cellspacing="0"><tr>
      <td>
          <mat-form-field class="full-width">
              <input matInput placeholder="Tempat Lahir" >
              <mat-icon matPrefix>lock</mat-icon>
          </mat-form-field>
      </td>
      <td>
          <mat-form-field class="full-width">
              <input matInput [matDatepicker]="picker" placeholder="Tanggal Lahir">
              <mat-hint align="end">* Contoh: 18/02/1990</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      </td>
    </tr></table> 
    <mat-form-field class="full-width">
        <mat-select placeholder="Jenis Kelamin" >
          <mat-option [value]="">
            Laki-Laki
          </mat-option>
          <mat-option [value]="">
            Perempuan
          </mat-option>
        </mat-select>
        <mat-icon matPrefix>local_library</mat-icon>
    </mat-form-field>
    <button type="submit" [disabled]="false" mat-flat-button color="primary">Simpan</button>
  </div>


  <div class="spacer-h"></div>
  </div>
</div>