<div class="language">
<mat-button-toggle-group #group="matButtonToggleGroup" [value]="translate.currentLang" style="float: right;">
  <mat-button-toggle value="en" (change)="setLanguage(group.value)">EN</mat-button-toggle>
  <mat-button-toggle value="id" (change)="setLanguage(group.value)">ID</mat-button-toggle>
</mat-button-toggle-group>
<!-- <select #langSelect (change)="setLanguage(langSelect.value)">
  <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
</select> -->
</div>
<div class="single-form">
  <div class="brand-image">
    NGOAHAHAHA.....<br/>
    part 2 sudah datang!!
    part 3 kang..<br/>
    topik nambahin<br/>
    ini tambah lagi kakak...
    <img src="https://dolano.id/assets/img/dolano.png" class="center" alt="PT Dolano NET Indonesia" width="220">
  </div>
  <mat-tab-group class="fifty-tab" >
    <mat-tab label="Individu">
        <ng-template mat-tab-label>
            <mat-icon>person</mat-icon>&nbsp;&nbsp;{{ 'req_personal.tab_label' | translate }}
        </ng-template>
        <div class="form-container">
          <app-reg-personal></app-reg-personal>
        </div>
    </mat-tab>
    <mat-tab label="Perusahaan">
        <ng-template mat-tab-label>
            <mat-icon>location_city</mat-icon>&nbsp;&nbsp;{{ 'req_corp.tab_label' | translate }}
        </ng-template>
        <div class="form-container">
          <app-reg-corporate></app-reg-corporate>
        </div>
    </mat-tab>
  </mat-tab-group>
</div>
