<div class="spacer-h"></div>
<div class="spacer-h"></div>
<div class="container center-box center-text">
      <p class="contact-footer">
        <b>{{ 'status_foot.kontak' | translate }}</b><br/>
        <span ><h3 class="biru-tosca">PT. Dolano Net Indonesia</h3></span>
        <a href="https://maps.google.com/?q=Jl.+Brigjend+Katamso+No.+62&entry=gmail&source=g">Jl. Brigjend Katamso No. 62 - C, Jebres, Solo, 57123</a><br/>
        <a href="www.dolano.id">www.dolano.id</a><br/>
        email: partner@dolano.id
      </p>
      <div class="button-row">
          <div class="social left" style="display: block"><a href=""><i class="fa fa-facebook"></i></a></div>
          <div class="social left" style="display: block"><a href=""><i class="fa fa-twitter"></i></a></div>
          <div class="social left" style="display: block"><a href=""><i class="fa fa-instagram"></i></a></div>
      </div>
</div>