<h3>{{ 'req_personal.title' | translate }}</h3>
  <form [formGroup]="regPartnerIndividu" (ngSubmit)="onSubmit()" class="pad-prefix">
    <mat-form-field class="full-width">
        <mat-select placeholder="{{'req_personal.form.tipe_partner.placeholder' | translate}}" formControlName="tipe_partner">
            <mat-option *ngFor="let pt of partnerTypes" [value]="pt.id">
                {{ pt.tipe }}
            </mat-option>
        </mat-select>
        <mat-icon matPrefix>local_library</mat-icon>
        <mat-error *ngIf="regPartnerIndividu.get('tipe_partner').hasError('required')">
            {{'req_personal.form.tipe_partner.err_req' | translate}}
        </mat-error>
    </mat-form-field>
    <table class="full-width" cellspacing="0"><tr>
        <td>
            <mat-form-field class="full-width">
            <input matInput placeholder="{{'req_personal.form.first_name.placeholder' | translate}}" formControlName="first_name">
            <mat-icon matPrefix>person</mat-icon>
            <mat-error *ngIf="regPartnerIndividu.get('first_name').hasError('required')">
                {{'req_personal.form.first_name.err_req' | translate}}
            </mat-error>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field class="full-width">
            <input matInput placeholder="{{'req_personal.form.last_name.placeholder' | translate}}" formControlName="last_name">
            <mat-error *ngIf="regPartnerIndividu.get('last_name').hasError('required')">
                {{'req_personal.form.last_name.err_req' | translate}}
            </mat-error>
            </mat-form-field>
        </td>
    </tr></table>
    <mat-form-field class="full-width">
      <input matInput placeholder="{{'req_personal.form.phone_number.placeholder' | translate}}" formControlName="phone_number">
      <mat-icon matPrefix>call</mat-icon>
      <mat-error *ngIf="regPartnerIndividu.get('phone_number').hasError('required')">
        {{'req_personal.form.phone_number.err_req' | translate}}
      </mat-error>
      <mat-error *ngIf="regPartnerIndividu.get('phone_number').hasError('pattern')">
        {{'req_personal.form.phone_number.err_digit' | translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="{{'req_personal.form.email.placeholder' | translate}}" formControlName="email">
      <mat-icon matPrefix>email</mat-icon>
      <mat-error *ngIf="regPartnerIndividu.get('email').hasError('required')">
        {{'req_personal.form.email.err_req' | translate}}
      </mat-error>
      <mat-error *ngIf="regPartnerIndividu.get('email').hasError('email')">
        {{'req_personal.form.email.err_format' | translate}}
      </mat-error>
      <mat-error *ngIf="regPartnerIndividu.get('email').hasError('emailSudahAda')">
        {{'req_personal.form.email.err_taken' | translate}}
      </mat-error>
    </mat-form-field>
    <table class="full-width" cellspacing="0"><tr>
        <td>
            <mat-form-field class="full-width">
                <input matInput placeholder="{{'req_personal.form.password.placeholder' | translate}}" formControlName="password" [type]="hide_password ? 'password' : 'text'" (keyup)="passKeyUp($event)">
                <mat-icon matPrefix>lock</mat-icon>
                <mat-error *ngIf="regPartnerIndividu.get('password').hasError('required')">
                    {{'req_personal.form.password.err_req' | translate}}
                </mat-error>
                <mat-error *ngIf="regPartnerIndividu.get('password').hasError('minlength')">
                    {{'req_personal.form.password.err_min' | translate}}
                </mat-error>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field class="full-width">
                <input matInput placeholder="{{'req_personal.form.konfirmasi.placeholder' | translate}}" formControlName="konfirmasi" [type]="hide_password ? 'password' : 'text'" >
                <mat-icon matSuffix (click)="hide_password = !hide_password">{{hide_password ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf="regPartnerIndividu.get('password').hasError('required')">
                    {{'req_personal.form.konfirmasi.err_req' | translate}}
                </mat-error>
                <mat-error *ngIf="regPartnerIndividu.get('konfirmasi').hasError('missMatch') && !regPartnerIndividu.get('password').hasError('required')">
                    {{'req_personal.form.konfirmasi.err_match' | translate}}
                </mat-error>
            </mat-form-field>
        </td>
    </tr></table>
    <mat-checkbox class="wrapped syarat" [(indeterminate)]="indeterminate" formControlName="cb" >
        <!-- Dengan melakukan pendaftaran ini, Anda setuju dengan <a style="cursor: pointer;" (click)="tnc_personal()">Syarat & Ketentuan</a> pendaftaran dari dolano.id -->
        {{'req_personal.form.cb.label1' | translate}} <a style="cursor: pointer;" (click)="tnc_personal()">{{'req_personal.form.cb.label2' | translate}}</a> {{'req_personal.form.cb.label3' | translate}}
    </mat-checkbox>
    <div class="spacer-h"></div>
    <!-- <p>Form value: {{ regPartnerIndividu.value | json }}</p> -->
    <button type="submit" [disabled]="!regPartnerIndividu.valid" mat-flat-button color="primary" style="float:right; width: 150px;">{{'req_personal.form.button.label' | translate}}</button>
  </form>