/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    margin: 0;
    font-family: "Raleway",Roboto,"Helvetica Neue",sans-serif;
    font-size: 15px;
    color: #333;
}
.spacer-h{
    height: 15px;
}
.form-body{
    width: 100%;
    height: 100%;
}
.single-form{
    max-width: 550px;
    margin: 0 auto;
}
.form-container{
    padding: 5px 20px;
}
.pad-prefix .mat-form-field-infix{
    margin-left: 5px;
}
.mat-form-field-prefix{
    margin-bottom: -10px;
}
mat-checkbox.wrapped.syarat .mat-checkbox-layout{
    white-space: unset;
    font-size: 14px;
}
mat-checkbox.wrapped.syarat .mat-checkbox-label{
    line-height: 18px;
}
.fifty-tab .mat-tab-label{
    width: 50% !important;
}
.twentyfive-tab .mat-tab-label{
    width: 25% !important;
}
.mat-tab-group, .mat-checkbox{
    font-family: "Raleway";
}
.brand-image{
    width: 100%;
}
img.center{
    display: block;
    margin: 0 auto;
}
.biru-tosca{
    color: #36a5b3;
}
.full-width{
    width: 100%;
}

a{
    text-decoration: none;
    color: #36a5b3;
}
a:hover{
    text-decoration: none;
}
.container-main{
    margin-top: 80px;
}
.container{
    max-width: 80%;
}
.single-form-login{
    max-width: 400px;
    margin: 0 auto;
}
.center-box{
    margin: 0 auto;
}
.center-text{
    text-align: center;
}
.right{
    float: right;
}
.line{
    margin: 15px 0;
    border-bottom: 1px solid #777;
}



/*
*
LOGIN PAGE CSS
*
*/
.img-head{
    height: 100px;
    width: 100%;
    background: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
}
.single-form-login{
    max-width: 350px;
    margin: 60px auto;
    padding: 20px 30px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 0px 15px #555;
}
.like-body{
    width: 100%;
    height: 100%;
    background-color: #36a5b3;
    position: fixed;
}
h2.login span.mid-line { background:#fff; padding:0 10px; }
h2.login { width:100%; text-align:center; border-bottom: 1px solid #888; line-height:0.1em; margin:10px 0 20px; } 




/*
*
LANGUAGE BUTTON CSS
*
*/
.language{
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
}
.language .mat-button-toggle{
    width: 70px;
    height: 35px;
    font-size: 13px;
    text-align: center;
}
.language .mat-button-toggle-checked{
    background-color: #36a5b3;
    color: #fff;
}
.language .mat-button-toggle-group, .language .mat-button-toggle-standalone{
    box-shadow: none;
}





/*
*
FORGET PASSWORD PAGE CSS
*
*/
.container-pass-forget{
    padding: 10px 25px 30px 25px;
    font-size: 18px;
    background-color: #36a5b3;
    color: #fff;
}
.container-pass-forget .mat-form-field-appearance-legacy .mat-hint{color: #fff}
.container-pass-forget .mat-form-field-appearance-legacy .mat-form-field-underline{background-color: #fff}
.container-pass-forget .mat-form-field-appearance-legacy .mat-form-field-label{color: #fff}
.container-pass-forget .mat-form-field.mat-focused .mat-form-field-label{color:#fff}
.container-pass-forget .mat-form-field.mat-focused .mat-form-field-label.mat-accent{color:#fff}
.container-pass-forget .mat-form-field.mat-focused .mat-form-field-label.mat-warn{color:#fff}
.container-pass-forget .mat-focused .mat-form-field-required-marker{color:#fff}
.container-pass-forget .mat-form-field-ripple{background-color:#fff}
.container-pass-forget .mat-form-field.mat-focused .mat-form-field-ripple{background-color:#fff}
.container-pass-forget .mat-form-field.mat-focused .mat-form-field-ripple.mat-accent{background-color:#fff}
.container-pass-forget .mat-form-field.mat-focused .mat-form-field-ripple.mat-warn{background-color:#fff}
.container-pass-forget .mat-form-field.mat-form-field-invalid .mat-form-field-label{color:#fff}
.container-pass-forget .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker, .container-pass-forget .mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent{color:#fff}
.container-pass-forget .mat-form-field.mat-form-field-invalid .mat-form-field-ripple{background-color:#fff}
.container-pass-forget .mat-error{color:#fff}




/*
*
DIALOG CSS
*
*/
.mat-toolbar-row, .mat-toolbar-single-row{
    font-family: 'Raleway';
}
.mat-dialog-container{
    padding: 0 !important;
}
.container-dialog{
    font-size: 16px;
}
.dialog-head{
    color: #fff;
    background-color: #36a5b3;
    font-weight: 700;
}
.example-icon {
    padding: 0 14px;
  }
  
.example-spacer {
  flex: 1 1 auto;
}
.dialog-body{
    padding: 20px 30px;
}
.dialog-body td{
    padding: 5px 10px;
}




/*
*
STATUS PAGE CSS
*
*/
.round-box{
    border: 2px solid #5fba7d;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding: 10px;
    display: inline-block;
}
.round-box.red{
    border: 2px solid #f44336;
}
.fa{
    font-size:20px; 
    line-height: 42px;
}
.social{color: #fff; background-color: #36a5b3; width: 42px; height: 42px; border-radius: 50%;}
.social a{
    color: #fff;
}
.button-row {
    margin: 0 auto;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header{
    border-bottom: 1px solid #c5c5c5;
    padding: 3px 25px;
    margin-bottom: 5%;
}




/*
*
STATUS PAGE CSS
*
*/
.sidenav-container td{
    padding: 8px 0;
}