<h3>{{ 'req_corp.title' | translate }}</h3>
  <form [formGroup]="regPartnerPerusahaan" (ngSubmit)="onSubmit()" class="pad-prefix">
    <mat-form-field class="full-width">
      <mat-select placeholder="{{'req_corp.form.tipe_partner.placeholder' | translate}}" formControlName="tipe_partner">
        <mat-option *ngFor="let pt of partnerTypes" [value]="pt.id">
          {{ pt.tipe }}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix>local_library</mat-icon>
      <mat-error *ngIf="regPartnerPerusahaan.get('tipe_partner').hasError('required')">
        {{'req_corp.form.tipe_partner.err_req' | translate}}
      </mat-error>
    </mat-form-field>
    <table class="full-width" cellspacing="0"><tr>
      <td width="70%">
        <mat-form-field class="full-width">
          <input matInput placeholder="{{'req_corp.form.corp_name.placeholder' | translate}}" formControlName="corp_name">
          <mat-icon matPrefix>work</mat-icon>
          <mat-error *ngIf="regPartnerPerusahaan.get('corp_name').hasError('required')">
            {{'req_corp.form.corp_name.err_req' | translate}}
          </mat-error>
        </mat-form-field>
      </td>
      <td width="30%">
        <mat-form-field class="full-width">
          <mat-select placeholder="{{'req_corp.form.corp_status.placeholder' | translate}}" formControlName="corp_status">
            <mat-option *ngFor="let corp of corpTypes" [value]="corp.id">
              {{ corp.nama }}
            </mat-option>
          </mat-select>
          <mat-icon matPrefix>turned_in</mat-icon>
          <mat-error *ngIf="regPartnerPerusahaan.get('corp_status').hasError('required')">
            {{'req_corp.form.corp_status.err_req' | translate}}
          </mat-error>
        </mat-form-field>
      </td>
    </tr></table>
    <mat-form-field class="full-width">
      <input matInput placeholder="{{'req_corp.form.corp_phone_number.placeholder' | translate}}" formControlName="corp_phone_number">
      <mat-icon matPrefix>call</mat-icon>
      <mat-error *ngIf="regPartnerPerusahaan.get('corp_phone_number').hasError('required')">
        {{'req_corp.form.corp_phone_number.err_req' | translate}}
      </mat-error>
      <mat-error *ngIf="regPartnerPerusahaan.get('corp_phone_number').hasError('pattern')">
        {{'req_corp.form.corp_phone_number.err_digit' | translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="{{'req_corp.form.email.placeholder' | translate}}" formControlName="email">
      <mat-icon matPrefix>email</mat-icon>
      <mat-error *ngIf="regPartnerPerusahaan.get('email').hasError('required')">
        {{'req_corp.form.email.err_req' | translate}}
      </mat-error>
      <mat-error *ngIf="regPartnerPerusahaan.get('email').hasError('email')">
        {{ 'req_cor.form.email.err_format' | translate}}
      </mat-error>
      <!-- <mat-error *ngIf="regPartnerPerusahaan.get('corp_email').hasError('emailAda')">
        email sudah dipakai
      </mat-error>  -->
    </mat-form-field>
    <table class="full-width" cellspacing="0"><tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="{{'req_corp.form.password.placeholder' | translate}}" formControlName="password" [type]="hide_password ? 'password' : 'text'" (keyup)="passKeyUp($event)">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-error *ngIf="regPartnerPerusahaan.get('password').hasError('required')">
              {{'req_corp.form.password.err_req' | translate}}
            </mat-error>
            <mat-error *ngIf="regPartnerPerusahaan.get('password').hasError('minlength')">
              {{'req_corp.form.password.err_min' | translate}}
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="{{'req_corp.form.konfirmasi.placeholder' | translate}}" formControlName="konfirmasi" [type]="hide_password ? 'password' : 'text'" >
            <mat-icon matSuffix (click)="hide_password = !hide_password">{{hide_password ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="regPartnerPerusahaan.get('password').hasError('required')">
                {{'req_corp.form.konfirmasi.err_req' | translate}}
              </mat-error>
              <mat-error *ngIf="regPartnerPerusahaan.get('konfirmasi').hasError('missMatch') && !regPartnerPerusahaan.get('password').hasError('required')">
                {{'req_corp.form.konfirmasi.err_match' | translate}}
              </mat-error>
          </mat-form-field>
        </td>
    </tr></table>
    <mat-checkbox class="wrapped syarat" [(indeterminate)]="indeterminate" formControlName="cb" >
      {{'req_corp.form.cb.label1' | translate}} <a style="cursor: pointer;" (click)="tnc_corporate()">{{'req_corp.form.cb.label2' | translate}}</a> {{'req_corp.form.cb.label3' | translate}}
    </mat-checkbox>
    <div class="spacer-h"></div>
    <!-- <p>Form value: {{ regPartnerPerusahaan.value | json }}</p> -->
    <button type="submit" [disabled]="!regPartnerPerusahaan.valid" mat-flat-button color="primary" style="float:right; width: 150px;">{{'req_corp.form.button.label' | translate}}</button>
  </form>