<app-status-head></app-status-head>

  <div class="container center-box center-text">
    <div class="round-box"><mat-icon style="font-size: 56px;height:56px;width:56px;color:#5fba7d">done</mat-icon></div>
    <h2>
      <span class="biru-tosca">{{ 'account_success.congrats' | translate }} PT. Sinar Jaya Medika!</span> {{ 'account_success.status' | translate }}
    </h2>
    <p>
      {{ 'account_success.additional' | translate }}
    </p>
    <br/>
  </div>

<app-status-foot></app-status-foot>