<div class="container-pass-forget">
    <h3>LUPA KATA SANDI ANDA?</h3>
    <div class="spacer-h"></div>
    <table class="full-width"><tr>
      <form [formGroup]="forgetPassword" (ngSubmit)="onSubmit()">
      <td width="650">
      <mat-form-field class="full-width">
          <input matInput placeholder="Email*" formControlName="email">
          <mat-hint>Masukkan alamat email yang pernah anda daftarkan sebelumnya</mat-hint>
          <mat-error *ngIf="forgetPassword.get('email').hasError('required')">
              This field required
          </mat-error>
      </mat-form-field>
      </td>
      <td width="50">
        <button type="submit" [disabled]="!forgetPassword.valid" mat-icon-button><mat-icon style="font-size: 38px;">send</mat-icon></button>
      </td>
      </form>
    </tr></table>  
</div>